<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Interface.Properties.Settings.SaleForceDBConnectionString"
            connectionString="Data Source=ORLANDOGONZALE1\SQLEXPRESS;Initial Catalog=SaleForceDB;Persist Security Info=True;User ID=sa;Password=sa1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>