<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AT.Integracion.ServiceUP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <AT.Integracion.ServiceUP.Properties.Settings>
            <setting name="IntervalUp" serializeAs="String">
                <value>6000</value>
            </setting>
        </AT.Integracion.ServiceUP.Properties.Settings>
    </applicationSettings>
  <connectionStrings>
    <add name="SALESFORCESEntities" connectionString="metadata=res://*/SALESFORCESModel.csdl|res://*/SALESFORCESModel.ssdl|res://*/SALESFORCESModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SALESFORCES;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
